@import 'framework';

body {
  height: 100vh;
  background: $body-gradient;
  position: relative;
}

.center-btn {
  width: 320px;
  height: 160px;
  background: white;
  border-radius: 9px;
  box-shadow: $shadow-grey-soft;
  cursor: pointer;
  transition: all 0.25s ease-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: $sm) {
    width: 300px;
  }

  .heart-icon {
    user-select: none;
    position: absolute;
    left: 20%;
    top: 53%;
    transform: translate(-20%, -50%);
    fill: transparent;
    transition: transform 0.25s ease-out;
    transform-origin: 50% 50%;

    &.isLiked {
      filter: drop-shadow(0 3px 5px #c44133);
      .fill-color-shape {
        transition: fill 0.5s linear;
        fill: #e74c3c;
      }
    }

    &:hover {
      transform: translate(-20%, calc(-50% - 3px)) scale(1.03);
    }
  }

  .number-of-likes {
    font-size: 100px;
    user-select: none;
    position: absolute;
    left: 80%;
    top: 53%;
    transform: translate(-80%, -50%);
    color: $color-grey-5;
  }
}
